<html>

<head>
	<!-- CSS imports -->
	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  	<link href="/css/custom.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
	
	<title>PersonaBuilder</title>

	<div class="jumbotron">
    	<h1>PersonaBuilder</h1>
		  Unsigned Int: <input id="setBox" type="text" size="20"/>
		<button id="setBtn">Set</button>
		<button id="getBtn">Get</button>
	</div>

</head>

<div class="container">
	
	<body>
		<div id="navigation">
  			<div class="row">
    			<div id="personalTab" class="column"></div>
    			<div id="friendsTab" class="column"></div>
  			</div>
		</div>

		<!-- JS imports -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/custom.js"></script>
		<!-- <script src="../js/contracts/persona_contract.js"> -->
	</body>
</div>

</html>
